html {
  height: 100%;
}

body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -2.3em;
}

footer {
  text-align: center;
  height: 2.3em;
}
.push {
  height: 2.3em;
}
.main-container {
  padding-top: 60px;
}
/***** End Sticky Footer *************************************************/
